# I tend to name my build directories 'build-<compiler, arch, ...>'
build-*

# Sphinx build directory
_build

# https://github.com/github/gitignore/blob/master/C++.gitignore

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# https://github.com/github/gitignore/blob/master/CMake.gitignore

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
