language: cpp
sudo: required
dist: trusty
compiler:
- clang
os:
- linux
- osx
before_install:
- echo $LANG
- echo $LC_ALL
install:
- sudo apt-get install cmake
build:
- mkdir build
- cd build && cmake ..
- cmake --build build/
script:
- ctest
after_success: echo "success!"
branches:
  only:
  - master
env:
  global:
  - LANG="en_US.UTF-8"
