language: cpp
sudo: required
dist: trusty
compiler:
- clang
os:
- linux
before_install:
- echo $LANG
- echo $LC_ALL
install:
- sudo apt-get install cmake clang-3.8
script:
- mkdir build && cd build
- cmake -DCMAKE_C_COMPILER=clang-3.8 -DCMAKE_CXX_COMPILER=clang++-3.8 -DSKIP_DOC=true ..
- cmake --build .
- ctest
after_success: echo "success!"
branches:
  only:
  - master
env:
  global:
  - LANG="en_US.UTF-8"
